body
{
 font-family: Serif;
}
.container {
width: 1000px;
position: relative;
display: flex;
justify-content: space-between;

margin: 110px 0px 20px 75px;
}

.container .card {
position: relative;
margin-inline:20px ;
margin-top: 125px;
}

.container .card .bloodgroup {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
transition: 0.7s;
z-index: 1;
}

.container .card .bloodgroup {
background-color: rgb(155, 10, 39);
border-radius: 30px ;
}



.container .card .bloodgroup h2 {
position: absolute;
left: 50%;
transform: translate(-50%, -50%);
font-size: 80px;
transition: 0.7s;
color: #fff;
}


.container .card .face {
width: 300px;
height: 200px;
transition: 0.5s;
border-radius: 25px;
}

.container .card .face.face1 {
position: relative;
background-color: rgb(155, 10, 39);
display: flex;
justify-content: center;
align-items: center;
z-index: 1;

transform: translateY(100px);
}

.container .card:hover .face.face1{
background: rgb(155, 10, 39);
transform: translateY(0px);
}

.container .card .face.face1 .content {
opacity: 1;
transition: 0.5s;
}

.container .card:hover .face.face1 .content {
opacity: 1;
}


.container .card .face.face2 {
position: relative;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
box-sizing: border-box;
box-shadow: 0 20px 50px rgba(0,0,0,0.8);
transform: translateY(-100px);
}

.container .card:hover .face.face2{
transform: translateY(0);
}

.container .card .face.face2 .content p {
margin: 0;
padding: 0;
text-align: center;
color: #414141;
font-size: 21px;
}

.container .card .face.face2 .content h3 {
margin: 0 0 10px 0;
padding: 0;
color: #fff;
font-size: 30px;
text-align: center;
color: #414141;
} 
.bloodgroup img
{
width: 45%;
position: absolute;
}
.information h1
{
position: absolute;
color:#463d3d;

}
.information p
{
font-size: 22px;
position: absolute;
top: 66px;
color: #1a1a1a;
}
.information2
{
max-width: 80%;
line-height: 2.7em;
display: flex;
margin: 0px 123px 50px;
}
.information2 p
{
font-size: 25px;
}
.section1
{
max-width: 100%;
line-height: 2.7em;
margin: 0px 123px 50px;
position: relative;
}
.section1 .text
{
max-width: 75%;
}
.section1 .text p
{
font-size: 25px;
}
.section1 .text h2
{
color:#463d3d;
}
.section1 img
{
position: relative;
float: right;
width: 60%;
right: -110px;
}